.icon-footer {
	margin-left: 70px;
}
.heading-footer {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--background-color);
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-icon-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-icon-bg {
	width: 44px;
	height: 44px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(255, 255, 255, 0.1);

	transition: background-color var(--animation-duration) var(--timing-function);
}

.footer-icon-bg:hover,
.footer-icon-bg:focus {
	background-color: var(--accent-color);
}

.footer-icon-item {
	display: flex;
}
.footer-icon-item:not(:last-child) {
	margin-right: 10px;
}
.footer-svg {
	fill: var(--background-color);
}
