.footer-list {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2f303a;
}
.logo-back {
	color: var(--background-color);
}

.footer-flex {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer-wrap {
	display: flex;
	align-items: baseline;
}

.logo-footer {
	display: block;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);

	margin-bottom: 20px;
}

.logo-accent {
	color: var(--text-color-main);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-info {
	font-style: normal;
}

.list-address {
	display: block;
	margin-bottom: 9px;
}

.list-mail {
	display: block;
	margin-bottom: 9px;
}

.address-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--background-color);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.mail-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.tel-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
